

.logo-heading-container{
    display: flex;           
    align-items: center;    
    justify-content: center; 
    gap: 5px;             
    margin-bottom: 10px;
}


h1{
  text-align: center;
  font-size: 70px;
}

h2{
  text-align: center;
  font-size: 30px;
}
.platform-options {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

.login-option-card {
    text-align: center;
    font-size: 20px;
    background: #fdfdfe;
    border-radius: 10px;
    padding: 70px 35px;
    cursor: pointer;
    text-decoration: none;
    color:  rgb(26, 55, 52);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  rgb(26, 55, 52);
    text-shadow: 1px;
}

body::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: rgba(225, 59, 44, 0.2); /*logo colour*/
    border-radius: 50%;
    filter: blur(70px);
    transform: translate(-50%, -50%);
    z-index: -1;
}