
/*Seperate CSS page for access page because of its different purpose*/
.access-page .logo-heading-container {
  display: flex;           
  align-items: center;    
  justify-content: center; 
  gap: 5px;             
  margin-bottom: 10px;
}

/*specific targeting*/
.access-page h1{
  text-align: center;
  font-size: 70px;
}
/*specific targeting*/
.access-page h2{
  text-align: center;
  font-size: 30px;
}
.access-page .platform-options {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 40px;
  margin-bottom:40px;
}

.access-page .login-option-card {
  text-align: center;
  font-size: 20px;
  background: rgba(253, 253, 254, 0.103); /* Transparent white */
  border-radius: 10px;
  box-shadow: 
    5px 0 15px rgba(0, 0, 0, 0.08), /* right shadow */
    0 10px 30px rgba(0, 0, 0, 0.1);  /* Regular shadow */
  padding: 70px 35px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(26, 55, 52);

  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*changed the classes to target only access page elements and not interefere with stocktrackpro and warehousepro logins*/
.access-page body{
  background: url('../assets/background.png') center/cover fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  rgb(26, 55, 52);
  text-shadow: 1px;
}



/*scaling*/  

/*Media Queries for Mobile*/

@media (max-width: 786px) { /* px for most phones - the breakpoint*/
  .access-page .logo-heading-container {
    flex-direction: column;  /* Stack into a column to save space for a small screen */
  }

  .access-page  {
    font-size: 30px;  /* Smaller heading for phone */
    text-align: center;
  }


  .access-page h2 {
    font-size: 20px;  /* Smaller sub-heading for phone */
    text-align: center;
  }


  .access-page .logo {
    width: 150px;  /* Smaller logo */
  }

  .access-page .platform-options {
    flex-direction: column;
    margin-left: 45px;
    margin-bottom: 40px;
  }
  

}


@media (max-width: 1024px) { /* the breakpoint for tablet*/


  .platform-options {
    margin-bottom: 40px; /*just adding more margin at the bottom of the card*/
      gap: 80px;
  }

  .login-option-card { /*login option card slightly smaller for tablet*/
      width: 280px;   
      height: 220px;    
  }
}
