/*Centralised code Building on WarehousePro styling (more modern) */

.logo svg {
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 8px; 
}




/* ========= WarehouseProLite theme ========= */
:root {

      /*Primary colours*/

    --primary: #1a3734;           /* primary */
    --primary-dark: #091412;      /*Darker*/
    --secondary: #6666d8;         /* Accent color */
    --background:  url('../assets/background.jpg') center/cover fixed;       /* background */
    --card: #ffffff;           /*Cards*/
    --access-card:rgba(255, 255, 255, 0.489); 
    --border: #b9b5b5;            /* Borders e.g. table */

    --btn-secondary: #31952c;      

    --gray: #e2e8f0;
    --text: #222;
    --text-light: #fff;
    --radius: 6px;
    --btn-font-size:18px;
}


* {
    box-sizing: border-box;
}

 


/* stocktrackpro as green to differentiate temporarily before changing the colour pallette*/
/*
body.stocktrackpro {
     background: #ebf8f0;
}
body.stocktrackpro .topbar {
    background: #2e8b57;
}
/*Darker effect for hovering*/
/*
body.stocktrackpro .topbar nav a:hover,
body.stocktrackpro .topbar nav a.active {
    background: #256b44;
}
*/

body {
    margin: 0;
    font-family: Cabin, Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    line-height: 1.4;
}



/* Top bar */
.topbar {
    background: var(--primary); /*changed*/
    color: var(--text-light);
    padding: .8rem 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.topbar .logo {
    font-size: 1.25rem;
    margin: 0;
    flex: 1 0 auto;
}

.topbar nav a {
    color: var(--text-light);  
    text-decoration: none;
    margin-left: 1rem;
    padding: .4rem .6rem;
    border-radius: var(--radius);
}

.topbar nav a:hover,
.topbar nav a.active {
    background: var(--primary-dark); /*changed*/
}

.topbar nav a.right {
    margin-left: auto;
}

/* Layout wrapper */
.container {
    max-width: 960px;
    margin: 2rem auto;
    padding: 0 1rem;
}





/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    border: 1px solid var(--border) 
}

th, td {
    padding: .6rem .5rem;
    border-bottom: 1px solid var(--gray);
    text-align: left;
    font: weight 500px;
}

th {
    background: var(--primary);
    font-weight: bolder;
    color: var(--card);
}

tr:nth-child(even) {
    background: #fbfdfd89;
}

tr:nth-child(odd) {
    background: #fbfdfd;
}





/* Forms */
label {
    display: block;
    margin: .65rem 0 .25rem;
    font-weight: 600;
}

input[type=text],
input[type=password],
input[type=number],
select,
textarea {
    width: 100%;
    padding: .45rem;
    border: 1px solid #ccc;
    border-radius: var(--radius);
}

input[type=submit],
button {
    background: var(--secondary);  /*changed*/
    color: var(--text-light);
    border: none;
    padding: .5rem 1rem;
    border-radius: var(--radius);
    /*font-weight: 600;*/
    cursor: pointer;
    font-size:var(--btn-font-size); /*same font size across buttons*/
}

input[type=submit]:hover,
button:hover {
    background: var(--primary-dark);  /*changed*/
}

.btn {
    font-size:var(--btn-font-size);
    background: var(--secondary); /*changed*/
    color: var(--text-light);
    padding: .4rem .8rem;
    border-radius: var(--radius);
    text-decoration: none;
}

/*styling secondary buttons*/
.btn-secondary{
    font-size:var(--btn-font-size);
    background: var(--btn-secondary);
    color: var(--text-light);
    padding: .4rem .8rem;
    border-radius: var(--radius);
    text-decoration: none;
}



.orders-button-input input{
    width:250px;
    margin-bottom:12px;
    margin-left: 545px;
}


/* Same hover for both */
.btn:hover,
.btn-secondary:hover {
    background: var(--primary-dark); 
}

/*input for each input 60px instead of 100% width*/
td .input-field{
    width:70px;
}

td .stock-take-count{
    width:80px;
}




/* KPI cards */
/*the layout of the cards all-together*/
.cards {
    display: flex;
    gap: .8rem;
    overflow-x: auto;
}

/*each single card*/
.card {
    background: var(--card);
    border: 1px solid var(--border); 
    border-radius: var(--radius);    
    padding: 1rem 1.2rem;
    min-width: 150px;
    text-align: center;
    box-shadow: 4px 0 3px rgba(0,0,0,0.1); /*Adding shadow to cards*/
    cursor: pointer; /*for button effect*/
    text-decoration:none; /*removing underline*/
    color: var(--text); /*removes purple*/
}

/*targets what's written inside the card*/
.card .big {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .15rem;
}

/*styling for cards when the mouse hovers*/
.card:hover{
      background: var(--gray); 
      color: var(--text);
}






/* Footer */
footer {
    background: var(--primary);
    text-align: center;
    padding: 1rem;
    font-size: .85rem;
    color: var(--text-light);
    margin-bottom: 0%;
    margin-top: 650px; /*Makes sure the footer sticks to the bottom of the page*/
}




/*test to see what styling was affecting the login pages*/
/*
body.login-page {
    background-color: red !important;
}

.login-page {  
    background-color: red !important;
}
*/



/*The styling for the login cards shown after the user selects either the stocktrackpro / warehousepro login*/
/* Login styling of index.php */


/*body and aligning items*/
body.login-page {
   /* background: var(--background); *//*Added */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Actual login cards*/
.login-card {
    width: 400px;
    height: 500px;
    padding: 2rem 2.4rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background:var(--card); /*Added */
    /*box-shadow: 0 2px 4px rgba(0,0,0,.08);*/
    text-align: center;
    box-shadow: 
    5px 0 15px rgba(0, 0, 0, 0.08), /* right shadow */
    0 10px 30px rgba(0, 0, 0, 0.1);  /* Regular shadow */
}

/*heading*/
.login-card h1 {
    font-size: 1.45rem;
    margin: 0 0 1.2rem;
    color: var(--text);
}

/*slogan / paragraph*/
.login-card p{
    font-size: 17px;
    font-weight: 200;
    color: var(--text);
}

/*Label - Username and password*/
.login-card label {
    text-align: left;
}
/*UK Fruit Logo fit within the*/
.login-card .logo{
    width:200px;
}

/*Factory and Box logo*/
.login-card svg {
    margin-top: 5px;
    margin-right: 8px; 
}
/*added css*/
.login-card .password-invalid {
    color: #a00;
    margin-bottom: 1rem;
}

/*forced password change error page styling*/
.forced-password-change{
    margin-top: 250;
    color: var(--text);
    text-align: center; 

}

.forced-password-change input{
    max-width: 400;
    height: 40;
}







/*added assets.css into style.css*/
.access-page .logo-heading-container {
  display: flex;           
  align-items: center;    
  justify-content: center; 
  gap: 5px;             
  margin-bottom: 10px;
}

/*specific targeting*/
.access-page h1{
  text-align: center;
  font-size: 70px;
}
.access-page h2{
  text-align: center;
  font-size: 30px;
}

.access-page .cards {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.access-page .card {
    background: var(--access-card);
    margin-top:60px;
    text-align: center;
    width: 400px;
    height: 400px;
}

/*changed the classes to target only access page elements and not interefere with stocktrackpro and warehousepro logins*/
body.access-page {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);
  text-shadow: 1px;
}















/*Media queries for mobile*/


@media (max-width: 786px) { /* px for most phones - the breakpoint*/
  .logo-heading-container {
    flex-direction: column;  /* Stack into a column to save space for a small screen */
  }

  h1 {
    font-size: 30px;  /* Smaller heading for phone */
    text-align: center;
  }


  h2 {
    font-size: 20px;  /* Smaller sub-heading for phone */
    text-align: center;
  }


  .logo {
    width: 150px;  /* Smaller logo */
  }

  .platform-options {
    flex-direction: column;
    margin-left: 45px;
    margin-bottom: 40px;
  }

    .topbar nav {
        background: var(--primary); /*changed*/
        color: var(--text-light);
        padding: .8rem 1.2rem;
        display: flex;
        flex-wrap: wrap;
    }

    /*Each link*/
    .topbar nav a {
        color: var(--text-light);  
        text-decoration: none;
        margin-left: 1rem;
        padding: .4rem .6rem;
        border-radius: var(--radius);
        flex: 30%;   /*90 / 3 = 30 leaving 10px space between links*/
        margin: 0.5rem; /*space between the navigation links*/
    }


}


/*Media queries for mobile*/

@media (max-width: 1024px) { /* the breakpoint for tablet*/


  .platform-options {
    margin-bottom: 40px; /*just adding more margin at the bottom of the card*/
    gap: 80px;
  }


  .login-option-card { /*login option card slightly smaller for tablet*/
      width: 280px;  
      height: 220px;    
  }


}






/*scaling*/  

/*Acces page Media Queries for Mobile*/

@media (max-width: 786px) { /* px for most phones - the breakpoint*/
  .access-page .logo-heading-container {
    flex-direction: column;  /* Stack into a column to save space for a small screen */
  }

  body.access-page {
    font-size: 30px;  /* Smaller heading for phone */
    text-align: center;
  }


  .access-page h2 {
    font-size: 20px;  /* Smaller sub-heading for phone */
    text-align: center;
  }


  .access-page .logo {
    width: 150px;  /* Smaller logo */
  }

  .access-page .platform-options {
    flex-direction: column;
    margin-left: 45px;
    margin-bottom: 40px;
  }
  

}


@media (max-width: 1024px) { /* the breakpoint for tablet*/


  .access-page .platform-options {
    margin-bottom: 40px; /*just adding more margin at the bottom of the card*/
      gap: 80px;
  }

  .access-page .login-option-card { /*login option card slightly smaller for tablet*/
      width: 280px;   
      height: 220px;    
  }
}
